<div class="container">
    
    <footer class="footer">
        <small>
            
            Copyright &copy; <a href="www.abc.com">RoR</a>
        by Shriraj
        </small>
        <nav>
            
            <ul>
                <li><%= link_to "About", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>